---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Sobre Nosotros">
  <h1>Sobre nosotros</h1>
  <p>Esta es la página donde te contamos sobre nosotros.</p>
</MainLayout>



