
---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Header />

<h1>Sobre nosotros</h1>
<p>Hola, soy Silvia y este es mi primer sitio hecho con Astro </p>

<Footer />

