---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Header />

<h1>Contacto</h1>
<form>
  <label>
    Nombre:
    <input type="text" name="nombre" />
  </label>
  <br />
  <label>
    Mensaje:
    <textarea name="mensaje"></textarea>
  </label>
  <br />
  <button type="submit">Enviar</button>
</form>

<Footer />


