---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Header />

<h1>Bienvenid@ a mi sitio web</h1>
<p>Este es un proyecto creado con Astro.</p>

<Footer />



