---
import MainLayout from '../layouts/MainLayout.astro';
import { format } from 'date-fns';

// Definir el tipo de los proyectos
interface Project {
  title: string;
  slug: string;
  description: string;
  date: string;
}

// Cargar los proyectos desde el archivo JSON estático en la carpeta public
const response = await fetch('/projects.json');
const projects: Project[] = await response.json();
---

<MainLayout title="Proyectos">
  <h1>Proyectos</h1>
  <ul>
    {projects && projects.length > 0 ? (
      projects.map((project) => (
        <li>
          <a href={`/projects/${project.slug}`}>
            <h2>{project.title}</h2>
            <p>{format(new Date(project.date), 'MMMM dd, yyyy')}</p>
            <p>{project.description}</p>
          </a>
        </li>
      ))
    ) : (
      <p>No se encontraron proyectos.</p>
    )}
  </ul>
</MainLayout>













